# dot files
.*
!.gitkeep
!.github/
!.travis.yml
!.appveyor.yml

# development data (build directories, temporary files, ...)
_*

# OpenFLUID local configuration files
CMake.in.local.config
CMake.in.local.cmake

# analysis files
*.clazy.yaml