#
# Configuration file for CMakeLists.txt files
#
# Author : Jean-Christophe FABRE <fabrejc@supagro.inra.fr>
#
# This file is included by the main CMakeLists.txt file, and defines variables
# to configure the build and install 
#
# The variables in this file can also be overriden through the  
# CMake.in.local.config file 
#


################### general ###################

SET(OPENFLUID_MAIN_NAME "openfluid")
SET(OPENFLUID_ENGINE_NAME "engine")

SET(OPENFLUID_ENGINE_RELDIR "${OPENFLUID_MAIN_NAME}/${OPENFLUID_ENGINE_NAME}")

SET(OPENFLUID_ENGINE_INPUTDIR "OPENFLUID.IN")
SET(OPENFLUID_ENGINE_OUTPUTDIR "OPENFLUID.OUT")
SET(OPENFLUID_ENGINE_FUNCSDIR "functions")


################### install path ###################

SET(CMAKE_INSTALL_PREFIX "/usr")

SET(BIN_INSTALL_PATH "bin")
SET(LIB_INSTALL_PATH "lib")
SET(INCLUDE_INSTALL_PATH "include")
SET(FUNCTIONS_INSTALL_PATH "lib/openfluid/functions")
SET(OFELIBDEV_INCLUDE_INSTALL_PATH "${INCLUDE_INSTALL_PATH}/ofelib")
SET(PKGCONFIG_INSTALL_PATH "lib/pkgconfig")

SET(FUNC2DOC_TPL_INSTALL_PATH "share/openfluid/engine/func2doc/template")

SET(DOC_INSTALL_PATH "share/doc/openfluid/engine")
SET(OFELIB_DOC_INSTALL_PATH "${DOC_INSTALL_PATH}/ofelib")
SET(OFELIBDEV_DOC_INSTALL_PATH "${DOC_INSTALL_PATH}/API")
SET(FUNCTIONS_DOC_INSTALL_PATH "${DOC_INSTALL_PATH}/functions")
SET(EXAMPLES_INSTALL_PATH "${DOC_INSTALL_PATH}/examples")
SET(EXAMPLES_SRC_INSTALL_PATH "${EXAMPLES_INSTALL_PATH}/src")
SET(EXAMPLES_DATA_INSTALL_PATH "${EXAMPLES_INSTALL_PATH}/datasets")
SET(KERNEL_DOC_INSTALL_PATH "${DOC_INSTALL_PATH}")
SET(MANUALS_DOC_INSTALL_PATH "${DOC_INSTALL_PATH}/manuals")
SET(MANUALS_DOCPDF_INSTALL_PATH "${MANUALS_DOC_INSTALL_PATH}/pdf")
SET(MANUALS_DOCHTML_INSTALL_PATH "${MANUALS_DOC_INSTALL_PATH}/html")
SET(EXAMPLES_DOCPDF_INSTALL_PATH "${EXAMPLES_INSTALL_PATH}")

################### source and output path ###################

SET(BUILD_OUTPUT_PATH "${CMAKE_BINARY_DIR}/dist")

SET(LIB_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${LIB_INSTALL_PATH}")
SET(FUNCTIONS_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${FUNCTIONS_INSTALL_PATH}")
SET(BIN_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${BIN_INSTALL_PATH}")
SET(OFELIBDEV_INCLUDE_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${OFELIBDEV_INCLUDE_INSTALL_PATH}")
SET(PKGCONFIG_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${PKGCONFIG_INSTALL_PATH}")

SET(APIDOC_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${OFELIBDEV_DOC_INSTALL_PATH}")
SET(APIDOC_SOURCE_DIR "${CMAKE_SOURCE_DIR}/include")
SET(APIDOC_DOCFILES_DIR "${CMAKE_SOURCE_DIR}/doc/API-doxygen")

SET(DOCFORDEV_OUTPUT_PATH "${CMAKE_BINARY_DIR}/docfordev")
SET(DOCFORDEV_SOURCE_DIR "${CMAKE_SOURCE_DIR}/include ${CMAKE_SOURCE_DIR}/src/kernel ${CMAKE_SOURCE_DIR}/ofelib")

SET(FUNCTIONS_DOC_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${FUNCTIONS_DOC_INSTALL_PATH}")
SET(OFELIBDEV_INCLUDE_DIR "${CMAKE_SOURCE_DIR}/include")


SET(DOC_RESOURCES_DIR "${CMAKE_SOURCE_DIR}/resources/doc")
SET(DOC_BUILD_DIR "${CMAKE_BINARY_DIR}/docdir-for-build")
SET(MANUALS_DOC_BUILD_DIR "${DOC_BUILD_DIR}/manuals")
SET(MANUALS_DOCPDF_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${MANUALS_DOCPDF_INSTALL_PATH}")
SET(MANUALS_DOCHTML_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${MANUALS_DOCHTML_INSTALL_PATH}")

SET(EXAMPLES_DOC_BUILD_DIR "${DOC_BUILD_DIR}/examples")
SET(EXAMPLES_DOCPDF_OUTPUT_PATH "${BUILD_OUTPUT_PATH}/${EXAMPLES_DOCPDF_INSTALL_PATH}")
SET(EXAMPLES_DATASETS_PATH "${CMAKE_SOURCE_DIR}/resources/examples/datasets")

################### test paths ###################

SET(TEST_OUTPUT_PATH "${CMAKE_BINARY_DIR}/tests-bin")
SET(TESTS_DATASETS_PATH "${CMAKE_SOURCE_DIR}/tests/datasets")
SET(TESTS_OUTPUTDATA_PATH "${CMAKE_BINARY_DIR}/tests-output")


################### versions ###################

SET(CUSTOM_CMAKE_VERSION "${CMAKE_MAJOR_VERSION}.${CMAKE_MINOR_VERSION}.${CMAKE_PATCH_VERSION}")

SET(ENGINE_VERSION_MAJOR 1)
SET(ENGINE_VERSION_MINOR 6)
SET(ENGINE_VERSION_PATCH 0)
SET(ENGINE_VERSION_STATUS "alpha1") # example: SET(ENGINE_VERSION_STATUS "rc1")

SET(ENGINE_FULL_VERSION "${ENGINE_VERSION_MAJOR}.${ENGINE_VERSION_MINOR}.${ENGINE_VERSION_PATCH}")

IF(ENGINE_VERSION_STATUS)
  SET(ENGINE_FULL_VERSION "${ENGINE_FULL_VERSION}~${ENGINE_VERSION_STATUS}")
ENDIF(ENGINE_VERSION_STATUS)


################### compilation and build ###################
IF(CMAKE_COMPILER_IS_GNUCXX) 
  SET(CMAKE_CXX_FLAGS_RELEASE "-O3 -Wall -Wfloat-equal")
  SET(CMAKE_CXX_FLAGS_DEBUG "-g")
ENDIF(CMAKE_COMPILER_IS_GNUCXX)

IF(NOT CMAKE_BUILD_TYPE) 
  SET(CMAKE_BUILD_TYPE "Release")
ENDIF(NOT CMAKE_BUILD_TYPE)


SET(FUNCTIONS_BINARY_EXTENSION "${CMAKE_SHARED_LIBRARY_SUFFIX}mpi")


################### functions build ###################

# uncomment this to build functions in foundry directory
#SET(BUILD_FUNCTIONS_FOUNDRY 1)

# uncomment this to build functions mixing C++ and fortran source codes (in this source tree)
#SET(BUILD_FORTRAN_FUNCTIONS 1)


################### latex build ###################

# uncomment this to build latex docs
#SET(BUILD_LATEX_DOCS 1)


################### docs for developers build ###################

#SET(BUILD_DOCFORDEV 1)


################### tests to run ###################

#SET(TESTS_RUNHIGHLOAD 1)


