SET(CPACK_CMAKE_GENERATOR "${CMAKE_GENERATOR}")

CONFIGURE_FILE(${CMAKE_SOURCE_DIR}/resources/dist/README ${CMAKE_BINARY_DIR}/readme.txt COPYONLY)
CONFIGURE_FILE(${CMAKE_SOURCE_DIR}/resources/dist/copyright ${CMAKE_BINARY_DIR}/copyright.txt COPYONLY)
CONFIGURE_FILE(${CMAKE_SOURCE_DIR}/resources/dist/welcome.txt ${CMAKE_BINARY_DIR}/welcome.txt COPYONLY)

IF(WIN32)
  SET(CPACK_GENERATOR "ZIP")
  SET(CURRENT_ARCH win32)

  FIND_PATH(MINGW_BINARY_DIR mingwm10.dll PATHS
  "[HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\MinGW;InstallLocation]/bin" 
  c:/MinGW/bin /MinGW/bin)
  
  FILE(TO_CMAKE_PATH "${Boost_INCLUDE_DIR}" BOOST_INCLUDEDIR_MOD)
  FILE(TO_CMAKE_PATH "${Boost_LIBRARY_DIRS}" BOOST_LIBRARYDIR_MOD)
  FILE(TO_CMAKE_PATH "${MINGW_BINARY_DIR}" MINGW_BINARYDIR_MOD)
    
  INSTALL(DIRECTORY "${BOOST_INCLUDEDIR_MOD}" DESTINATION ${INCLUDE_INSTALL_PATH})
  INSTALL(DIRECTORY "${BOOST_LIBRARYDIR_MOD}/" DESTINATION ${BIN_INSTALL_PATH} FILES_MATCHING PATTERN "*.dll")
  INSTALL(DIRECTORY "${BOOST_LIBRARYDIR_MOD}/" DESTINATION ${LIB_INSTALL_PATH} FILES_MATCHING PATTERN "*.lib")  
  INSTALL(FILES "${MINGW_BINARYDIR_MOD}/mingwm10.dll" DESTINATION ${BIN_INSTALL_PATH})
ENDIF(WIN32)

IF(UNIX AND NOT APPLE)
  SET(CPACK_GENERATOR "TBZ2;TGZ;DEB")
  EXECUTE_PROCESS(COMMAND "dpkg" "--print-architecture" OUTPUT_VARIABLE CURRENT_ARCH OUTPUT_STRIP_TRAILING_WHITESPACE)  
ENDIF(UNIX AND NOT APPLE)

IF(APPLE)
  SET(CPACK_GENERATOR "OSXX11;TGZ;PackageMaker")
  SET(CURRENT_ARCH macosx)
ENDIF(APPLE)


SET(CPACK_INSTALL_CMAKE_PROJECTS "${PROJECT_BINARY_DIR};${PROJECT_NAME};engine;/") 

SET(CPACK_RESOURCE_FILE_LICENSE "${CMAKE_BINARY_DIR}/copyright.txt")
SET(CPACK_RESOURCE_FILE_README "${CMAKE_BINARY_DIR}/readme.txt")
SET(CPACK_RESOURCE_FILE_WELCOME "${CMAKE_BINARY_DIR}/welcome.txt")  

SET(CPACK_PACKAGE_NAME "openfluid-engine")
SET(CPACK_PACKAGE_VERSION "${ENGINE_FULL_VERSION}")
SET(CPACK_PACKAGE_VERSION_MAJOR "${ENGINE_VERSION_MAJOR}")
SET(CPACK_PACKAGE_VERSION_MINOR "${ENGINE_VERSION_MINOR}")
SET(CPACK_PACKAGE_VERSION_PATCH "${ENGINE_VERSION_PATCH}")
SET(CPACK_PACKAGE_CONTACT "Jean-Christophe Fabre <fabrejc@supagro.inra.fr>")
SET(CPACK_PACKAGE_VENDOR "LISAH (INRA-IRD-SupAgro)")
SET(CPACK_PACKAGE_DESCRIPTION "OpenFLUID-Engine.\n This package contains the application kernel, headers and tools for functions development.\n It has been built using the boost libraries v${Boost_MAJOR_VERSION}.${Boost_MINOR_VERSION}.")
SET(CPACK_PACKAGE_DESCRIPTION_SUMMARY "${CPACK_PACKAGE_DESCRIPTION}")
SET(CPACK_PACKAGE_FILE_NAME "${CPACK_PACKAGE_NAME}_${CPACK_PACKAGE_VERSION}_${CURRENT_ARCH}")

SET(CPACK_DEBIAN_PACKAGE_DEPENDS "libboost${Boost_MAJOR_VERSION}.${Boost_MINOR_VERSION}-dev, libboost-filesystem${Boost_MAJOR_VERSION}.${Boost_MINOR_VERSION}-dev, libboost-date-time${Boost_MAJOR_VERSION}.${Boost_MINOR_VERSION}-dev, libboost-program-options${Boost_MAJOR_VERSION}.${Boost_MINOR_VERSION}-dev, libboost-regex${Boost_MAJOR_VERSION}.${Boost_MINOR_VERSION}-dev")
SET(CPACK_DEBIAN_PACKAGE_ARCHITECTURE "${CURRENT_ARCH}")
SET(CPACK_DEBIAN_PACKAGE_SECTION "science")
SET(CPACK_DEBIAN_PACKAGE_PRIORITY "extra")



INCLUDE(CPack)