body, table, div, p, dl {
  color : #272727;
  font-size : 16px;
}


h1 {
	margin-top : 35px;
}


h2 {
  margin-top : 25px;
}


#titlearea {
  border-bottom : 1px solid #777;
  
}


#projectlogo img
{
  padding-left : 20px;
  padding-top : 5px;
  padding-bottom : 10px;
}


#main-nav,
#main-menu,
#main-menu a {
  background-color: #4F6074;
  background-image : none;
  color : #fff;
  text-shadow: none;
}

#main-menu span.sub-arrow {
  border-color : #fff transparent transparent transparent;
}

#main-menu ul span.sub-arrow {
  border-color : transparent transparent transparent #fff; 
}


#main-menu ul {
  background-color: #4F6074;
}


.tabs, .tabs2, .tabs3 {
  background-color: #4F6074;
  text-shadow: none;
  width: 100%;
  z-index: 101;
  font-size: 100%;
  border-bottom : 1px solid #777;
  background-image: none;
}

.tabs2 {
    font-size: 90%;
    border-bottom : 1px solid #777;
}

.tabs3 {
    font-size: 90%;
    border-bottom : 1px solid #777;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
    text-shadow: none;
    background-image: none;
}

.tablist li {
    float: left;
    display: table-cell;
    background-color: #4F6074;
    line-height: 36px;
    list-style: none;
    text-shadow: none;
    background-image: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-color: #4F6074;
    background-repeat:no-repeat;
    background-position:right;
    color: #ddd;
    outline: none;
    text-shadow: none;
    background-image: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
    text-shadow: none;
}

.tablist a:hover {
    background-color: #4F6074;
    background-repeat:repeat-x;
    color: #fff;
    text-decoration: none;
    background-image: none;
    text-shadow: none;
}

.tablist li.current a {
    background-color: #4F6074;
    background-repeat:repeat-x;
    color: #fff;
    background-image: none;
    text-shadow: none;
}


.navpath ul
{
  font-size: 95%;
  background-color: #719133;
  background-image: none;
  background-repeat: no-repeat;
  background-position: none;
  border: none;
  border-bottom : 1px solid #777;
}

.navpath li
{
  list-style-type:none;
  float:left;
  padding-left:10px;
  padding-right:15px;
  background-image:none;
  background-repeat:no-repeat;
  background-position:right;
  color:#364D7C;
}

.navpath li.navelem a
{
  color: #ddd;
  text-shadow: none;
}

.navpath li.navelem a:hover
{
  color: #fff;
}

.navpath li.footer
{
  background-image:none;
  background-repeat:no-repeat;
  background-position:right;
}


.memtitle, dl.reflist dt {
  background-color: #eaeef5;
  background-image: none;
  border-bottom: 1px solid;
  border-color: #ccc;  
  box-shadow: none;
  font-weight : normal;
}

.memproto, dl.reflist dt {
  background-color: #eaeef5;
  background-image: none;
  border-bottom: 1px solid;
  border-color: #ccc;  
  box-shadow: none;
  font-weight : normal;
}

.memdoc, dl.reflist dd {
  background-image: none; 
  box-shadow: none;
  border-color: #ccc;
  margin-bottom: 30px;
}

.paramname>em {
  font-weight : normal;
  color : #719133;
}

.params .paramname {
  font-weight : normal;
  color : #719133;
}

.memname {
  font-weight : normal;
  font-size : 110%;
}

table.fieldtable {
  box-shadow : none;  
  border-color: #ccc;   
}


.fieldtable th {
  font-weight : normal;
  box-shadow : none;
  background-image: none;
  border-color: #ccc;
  background-color: #F9FAFC;  
}

.fieldtable td.fieldname {
  border-color: #ccc;  
}

a.el {
  font-weight : normal;
}

dt {
    font-weight: normal;
    font-style: italic;
}

div.ah {
  box-shadow : none;
  background-color : #666;
  border : none;
  background-image: none;
}

div.fragment {
	border : none;
	background-color: #eee;
  padding : 10px;
}

code {
  background-color: #eee;
}