FILE(GLOB_RECURSE TEMPLATE_FILES "${CMAKE_SOURCE_DIR}/tests/generator.file-injection.multi-type/*")
FOREACH(file ${TEMPLATE_FILES})
  FILE(RELATIVE_PATH rel_path "${CMAKE_SOURCE_DIR}/tests/generator.file-injection.multi-type" "${file}")
  SET(varname "var2")
  SET(unitsclass "unitsA")
  SET(type "DoubleValue")
  SET(missing_value "NA")
  SET(output "${CMAKE_BINARY_DIR}/tests/simgens/generator.file-injection.multi-type-unitsA-var2/${rel_path}")
  GET_FILENAME_COMPONENT(simgen_dir "${output}" DIRECTORY)
  FILE(MAKE_DIRECTORY "${simgen_dir}")
  CONFIGURE_FILE("${file}" "${output}")
SET(varname "var3")
  SET(unitsclass "unitsA")
  SET(type "DoubleValue")
  SET(missing_value "NA")
  SET(output "${CMAKE_BINARY_DIR}/tests/simgens/generator.file-injection.multi-type-unitsA-var3/${rel_path}")
  GET_FILENAME_COMPONENT(simgen_dir "${output}" DIRECTORY)
  FILE(MAKE_DIRECTORY "${simgen_dir}")
  CONFIGURE_FILE("${file}" "${output}")
ENDFOREACH()

ADD_SUBDIRECTORY(${CMAKE_BINARY_DIR}/tests/simgens/generator.file-injection.multi-type-unitsA-var2 ${CMAKE_BINARY_DIR}/tests/simgens/generator.file-injection.multi-type-unitsA-var2/build)
ADD_SUBDIRECTORY(${CMAKE_BINARY_DIR}/tests/simgens/generator.file-injection.multi-type-unitsA-var3 ${CMAKE_BINARY_DIR}/tests/simgens/generator.file-injection.multi-type-unitsA-var3/build)
ADD_CUSTOM_TARGET(copy_simgen_lib_0 ALL
COMMAND ${CMAKE_COMMAND} -E copy
$<TARGET_FILE:generator.file-injection.multi-type-unitsA-var2>
${CMAKE_BINARY_DIR} DEPENDS generator.file-injection.multi-type-unitsA-var2)

ADD_CUSTOM_TARGET(copy_simgen_lib_1 ALL
COMMAND ${CMAKE_COMMAND} -E copy
$<TARGET_FILE:generator.file-injection.multi-type-unitsA-var3>
${CMAKE_BINARY_DIR} DEPENDS generator.file-injection.multi-type-unitsA-var3)
